.sermon-single-short-listing {
	padding: 13px 9px;
	border-bottom: 3px dotted hsla(0,0%,80%,.5);
	overflow: auto;
  
	p {
		margin: 0;
		padding: .1em;
	}

	.sermon-title {
		font-size: 1.2em;
		font-weight: bold;
	}

	.sermon-meta {
		color: hsl(0,0%,50%);
		font-style: italic;
	}

	.sermon-date + .sermon-series {

		&:before {
			margin: 0 1em;
			content: '\02014';
		}
	}

	.sermon-link {
		// float: right;
		font-size: .9em;

		&:after {
			content: '\0279F';
			transition: .2s;
			opacity: 0;
		}

		&:hover:after {
			opacity: .7;
		}
	}

	.widget & {
		padding-left: 0;
		padding-right: 0;
		border-bottom: none;
	}

}

.sermon-interface-searchbox {

	background: hsla(0, 0%, 95%, .5);
	padding: 1.2em;

	h2 {
		padding-top: 0;
	}

	.search-section-divider {
		padding: 0;
		opacity: .8;
		&:before, &:after {
			content: '--';
			margin: 0 1em;
		}
	}

	form {
		margin: .4em 0;

		select {
			width: 100%;
		}

		@media(min-width: 550px){
			width: 50%;
			max-width: 450px;
		}
	}
	.form-search-by-name-description div {
		display: -webkit-flex;
		display:         flex;
		flex-wrap: nowrap;
		justify-content: space-between; // align flex items horizontally
		align-items: center; // align flex items vertically

		input[type="text"] {
			// width: 80%;
			margin-right: 1em;
		}
	}
}

.sermons-list-paging {
	padding: 1em;
	margin: 2em 0 .5em;
	background: hsla(0,0%,80%,.5);

	display: -webkit-flex;
	display:         flex;
	flex-wrap: nowrap;
	justify-content: center; // align flex items horizontally
	align-items: center; // align flex items vertically

	a {
		display: block;
		margin-left: 1em;
		margin-right: 1em;

		// &:before, &:after {
		// 	font-size: 2em;
		// 	position: relative;
		// 	top: .07em;
		// 	transition: .2s opacity;
		// 	opacity: .5;
		// }

		// &:hover:before, &:hover:after {
		// 	opacity: .9;
		// }
	}
	.nav-link-older:before {
		content: '\AB';
		margin-right: .5em;

	}
	.nav-link-newer:after {
		content: '\BB';
		margin-left: .5em;
	}
}

.single-sermon-content-block {

	display: grid;
	grid-gap: 1em 2em; // bwcompat
	gap: 1em 2em;


	.single-sermon-meta {

		audio {
			margin: 1em 0;
		}
	}

	.single-sermon-texts {
		font-size: .9em;

		h3.sermon-passage {
			margin-top: 0;
			padding-top: 0;
		}

		p {
			font-size: inherit;
		}

		.sermon-other-from-book {
			font-style: italic;
		}
	}

	// the content section
	.single-sermon-texts + .single-sermon-content {
		margin: 1em 0;
		padding: 1em 0;
		border-top: 1px solid hsl(0, 0%, 80%);
		grid-row: 2;
	}


	@media(min-width:550px) {
		grid-template-columns: minmax(165px, 28%) 1fr;

		.single-sermon-texts + .single-sermon-content {
			grid-column: 2;
			grid-row: auto;
		}
	}
}

.sermon-single-short-listing,
.single-sermon-content-block
{
	.audio-player {
		margin: 1em 0 0;

		audio {
			width: 100%;
			border: 1px solid hsl(0,0%,75%);
		}
	}
}
