
.bible-verse-console {
	
	.passage-intake {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1em;
		border-radius: 2px;
		background: hsl(0, 0%, 93%);
	}

}