
h3.sermon-passage {
	margin-bottom: 0;
	padding-bottom: 0;
}

.sermon-other-from-book {
	margin-top: 1.5em;
	padding: 0;
	margin: 0;
}

.sermon-bible-text {
	
	color: hsl(0, 0%, 33%);
	font-size: 1em;

	h2, h3, h4 {
		color: inherit;
		font-family: inherit;
		opacity: .7;
		font-weight: 300;
	}
	h2 { font-size: 1.3em; }
	h3 {
		font-size: 1.2em;
	}

	& > h2:first-child {
		margin-top: 0;
		padding-top: 0;
	}

	.chapter-num {
		font-weight: normal;
		font-size: .7em;
		vertical-align: top;
		letter-spacing: 1px;
	}

	.verse-num {
		font-size: .6em;
		color: hsl(0, 0%, 38%);
		position: relative;
		top: -4px;
	}

	.footnote, .footnotes {
		display: none;
	}

	// the copyright paragraph
	p:last-child {
		font-size: .7em;
		color: hsl(0, 0%, 44%);
		padding: .6em 0 .1em;
	}
	.copyright {
		color: inherit;
	}
}